body{
	margin: 0%;
	padding: 0%;
}
/* ===================HEADER ==================== */
/* Header */
.hero-section{
	background-image: url(./images/headphones_hero_1.jpg);
	height: 450px;
}
.logo {
	padding: 20px;
}
.header {
	display: flex;
	justify-content: space-around;
}

/* Navigation */
.nav-menu ul{
	display: flex;
	
}
.nav-menu ul li {
	color: white;
	justify-content: space-evenly;
	padding: 20px;
	list-style: none;
	text-decoration: none;
}
.w-6 {
	width: 20px;
}
h3 {
	font: weight 400px;
	size: 11px;
	line-height: 16px;
	text-align: center;
}
p {
	font-size: larger;
	  text-align: center;
}
.hamburger {
	color: white;
	align-content: center;
	padding-top: 45px;
	display: none;
}
.main_part {
	text-align: center;
	color: white;
	width: 80%x;
	height: 800px;
}
button {
	background-color:#ff6565;;
	border-radius: 15px;
	padding: 25px;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Mobile Header */
@media screen and (max-width: 480px) {
	.hero-section{
		background-image: url(./images/headphones_hero_1.jpg);
		height: 500px;
		background-size: cover;
	}
	.nav-menu ul li {
		display: none;
	}
	.nav-menu ul li a {
		display: block;
		width: 100%;
		box-sizing: border-box;	
	}
	.hamburger {
		color: white;
		align-content: center;
		padding-top: 45px;
		display: block;
	}
	.hamburger input:checked ~ .nav-menu ul {
		display: block;
	}
	.main_part {
		text-align: center;
		color: white;
		font-size:small;
	}	
}

/* =========WHAT WE DO SESSION========= */
.what_we_do {
	text-align: center;
}
.what_we_do_icon{
	display: flex;
	align-items: center;	
}
.what_we_do_icon #icon img {
	width: 100px;
	margin-left: 40%;
	height: 100px;
}

/* Mobile Screen on ==What We Do Session== */
@media screen and (max-width: 480px){
	h3 {
		font-size: larger;
	}
	.what_we_do {
		text-align: center;
		font-size: smaller;
		margin-top: 10%;
	}
	.what_we_do_icon{
		display: block;
	}
	.what_we_do_icon #icon img {
		width: 100px;
		margin-left: 40%;
	}
}

/* ======RESULTS====== */
#results {
	background-image: url(./images/headphones_hero_2.jpg);
	background-size: cover;
	color: white;
	font-family: 'Source Sans 3', sans-serif;
	padding: 25px;
}
.results {
	display: flex;
	padding: 40px;
	gap: 40px;
	justify-content: center;
	align-content: space-around;
}

@media screen and (max-width: 480px){
	#results {
		background-image: url(./images/headphones_hero_2.jpg);
		background-size: cover;
	}
	.results {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}





