body {
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
}
main {
	display: flex;
	flex-direction: row;
	flex: auto;
}
main img {
	width: 500px;
}
article {
	flex: 2;
	overflow-y: auto;
}
aside {
	flex: 1;
	overflow-y: auto;
}